<div class="container-lg blog-form polos">
    {% if name %}
    <h1>Hi {{name}}, tell us about <span class="bold-red">your story.</span></h1>
    {% elif user.is_authenticated %}
    <h1>Hi {{request.user.first_name}}, tell us about <span class="bold-red">your story.</span></h1>
    {% endif %}
    <div class="form-group">
        <form action="" method="POST" id="blog-form" url_path="{% url 'blogs:add_blog' %}">
        {% csrf_token %}
        {% if user.is_authenticated %}
        {{form}}
        <div class="send-btn">
            <input class="btn btn-lg but-add" type="submit" value="Send">
        </div>
        {% else %}
        <fieldset class="fieldset-disable-forms">
            {{form}}
            <div class="send-btn">
                <input class="btn btn-lg but-add" type="submit" value="Send" disabled>
            </div>
            <div class="alert alert-danger" role="alert">
                <h5>Sorry, you have to log in to use this feature. Log in <a href="{% url 'home:index' %}" class="alert-link" style="font-size: inherit;">here.</a></h5>
            </div>
        </fieldset>
        {% endif %}
        </form>
        <div class="success-blog"></div>
    </div>
    
</div>
