{% extends 'base.html' %}

{% load static %}
{% block title %}
Blogs
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/style_blog.css' %}">
{% endblock %}


{% block content %}
<div class="container-lg intros">
    <div class="intro">
        <img src="{% static 'admin/img/blog 1.svg' %}" alt="blog-icon">
        <h1 class="intro-title">Blogs.</h1>
        <p class="intro-subtitle">things you might want to know <br>about <span>quarantine</span> and such.</p>
    </div>
</div>

{% include 'app2/blog_form.html' %}


<div class="container-lg blog-intro-msg">
    <div class="blog-warn">
        {% if not blogs %}
        <h1>There are <span class="bold-red">no blogs</span> to be found so far. Add yours!</h1>
        {% else %}
        <h1 class="our-story">Here's <span class="bold-red">our story.</span> By <span class="bold-red">yours.</span></h1>
        {% endif %}
    </div>
</div>

<div class="container-fl blog-preview">
    <div class="row list-blog">
        {% for blog in blogs %}
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="card h-100 w-100">
                    <h3 class="card-title h-100">{{blog.title}}</h3>
                    <p class="card-text h-100">{{blog.content|truncatewords:15}}</p>
                    <div class="blog-info-count">
                        <div class="blog-likes">
                            <img src="https://www.flaticon.com/svg/static/icons/svg/1000/1000621.svg" alt="total-likes">
                            <h4 class="like-counter">
                                {{blog.blogTotalLikes}}
                            </h4>
                        </div>
                        <div class="blog-comments">
                            <img src="https://www.flaticon.com/svg/static/icons/svg/1380/1380338.svg" alt="total-likes">
                            <h4 class="comment-counter">
                                {{blog.blogTotalComments}}
                            </h4>
                        </div>
                    </div>
                    <div class="button-more">
                        <a class="btn btn-lg" href="{% url 'blogs:blog_content' blog.title %}" role="button">More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'admin/js/blog.js' %}"></script>
{% endblock %}