{% extends 'base.html' %}

{% load static %}
{% block title %}
Blogs
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/style_blog.css' %}">
{% endblock %}

{% block content %}
<div class="container-lg blog-content">
    <div class="blog-about">
        <div class="blog-info">
            <h1 class="title">{{blog.title}}</h1>
            <h2 class="subtitle">By:<br>{{blog.author}}</h2>
        </div>
    </div>
    <p class="long-par">{{blog.content}}</p>
    
    <div class="blog-likes">
        {% if user.is_authenticated %}
        <form action="#" method="POST" id=like-submit name="{{blog.id}}" url_path="{% url 'blogs:like' blog.title %}">
            {% csrf_token %}
            {% if liked %}
            <input class="like-btn" id="like-btn" type="image" src="https://www.flaticon.com/svg/static/icons/svg/535/535183.svg" alt="Like">
            {% else %}
            <input class="like-btn" id="like-btn" type="image" src="https://www.flaticon.com/svg/static/icons/svg/1000/1000621.svg" alt="Unlike">
            {% endif %}
            <h3 class="like-counter">{{blog.blogTotalLikes}}</h3>
        </form>
        {% else %}
        <fieldset class="fieldset-disable-forms">
        <form action="#" method="POST" id=like-submit name="{{blog.id}}" url_path="{% url 'blogs:like' blog.title %}">
            {% csrf_token %}
            {% if liked %}
            <input class="like-btn" id="disabledlike-btn" type="image" src="https://www.flaticon.com/svg/static/icons/svg/535/535183.svg" alt="Like" disabled>
            {% else %}
            <input class="like-btn" id="disabledlike-btn" type="image" src="https://www.flaticon.com/svg/static/icons/svg/1000/1000621.svg" alt="Unlike" disabled>
            {% endif %}
            <h3 class="like-counter">{{blog.blogTotalLikes}}</h3>
        </form>
        </fieldset>
        <div class="alert alert-danger disabled-like-warn" role="alert">
            <h5>Sorry, you have to log in to use this feature. Log in <a href="{% url 'home:index' %}" class="alert-link" style="font-size: inherit;">here.</a></h5>
        </div>
        {% endif %}
    </div>
    
    
</div>

<div class="container-lg blog-comment">
    <div class="list-comment">
        <h1><span class="bold-red">comments</span></h1>
        <div class="each-comment">
            {% for com in blog.blog_comments.all %}
            <div class="comment">
                <h3><span class="bold-red">{{com.commenter}}</span> - ({{com.date_created}})</h3>
                <p class="long-par">{{com.message}}</p>
            </div>
            {% endfor %}
        </div>        
    </div>
    
    <div class="comment-form">
        <div class="intro-msg-comment">
            {% if blog.blog_comments.all %}
            <h1>Add your comment <span class="bold-red">here!</span></h1>
            {% else %}
            <h1>There are <span class="bold-red">no comments</span> so far. Add <span class="bold-red">yours!</span></h1>
            {% endif %}
        </div>
        <div class="form-group">
            <form action="#" method="post" id="comment-form" url_path="{% url 'blogs:add_comment' blog.title %}">
            {% csrf_token %}
            {% if user.is_authenticated %}
            {{cform}}
            <div class="send-btn">
                <input class="btn btn-lg but-add" type="submit" value="Send">
            </div>
            {% else %}
            <fieldset class="fieldset-disable-forms">
                {{cform}}
                <div class="send-btn">
                    <input class="btn btn-lg but-add" type="submit" value="Send" disabled>
                </div>
                <div class="alert alert-danger" role="alert">
                    <h5>Sorry, you have to log in to use this feature. Log in <a href="{% url 'home:index' %}" class="alert-link" style="font-size: inherit;">here.</a></h5>
                </div>
            </fieldset>
            {% endif %}
            </form>
            <div class="success-comment"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'admin/js/blog.js' %}"></script>
<!-- <script src="{% static 'admin/js/blog.js' %}"></script> -->
{% endblock %}