{% extends 'base.html' %}

{% load static %}

{% block title %}About us{% endblock %}

<!--Tambahan css-->
{% block css %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'admin/css/style_us.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/style_us_responsive.css' %}">
<script src="{% static 'admin/js/postFeedback.js' %}"></script>
<script src="{% static 'admin/js/us_animation.js' %}"></script>
<!-- <link rel="stylesheet" href="{% static 'admin/css/style_feedback.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/style_feedback_column.css' %}" media="screen and (max-width:500px)">
<link rel="stylesheet" href="{% static 'admin/css/style_feedback_carousel.css' %}" media="screen and (min-width:501px)"> -->
{% endblock %}

<!--Block content-->
{% block content %}
<div class="container-fluid intros">
    <div class="intro mx-auto">
        <img src="{% static 'admin/img/Group.svg' %}" alt="blog-icon" id="icon-us">
        <div class="intro-wrapper">
            <h1 class="intro-title">
                <span class="line line1"></span>
                <span class="letters"> US.</span>
            </h1>
        </div>
        <div id="typed-string-initial" style="opacity: 0;">
            <p class="intro-subtitle">here's our <span>team</span>,<br>desparetely need more <span>sleep</span></p>
        </div>
    </div>
</div>
<div class="container-fluid author-right" id="author-eba" onscroll="">
    <div class="row">
        <div class="col col-lg-7">
            <div class="d-flex h-100">
                <div class="text-right align-self-center ml-auto right-author">
                    <h1 class="author-nick author-nick-right">EBA</h1>
                    <h3 class="author-name author-name-right">Eba Ginting</h3>
                    <p class="author-desc author-desc-right">"it's just three letters. no mispell is allowed."</p>
                    <div class="button-right">
                        <button type="button" onclick="location.href='https://eba-app.herokuapp.com/';" class="btn rounded-pill">more</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-5 p-0 m-0">
            <img src="{% static 'admin/img/app3/eba.jpg' %}" class="author-photo">
        </div>
    </div>
</div>
<div class="container-fluid author-left" id="author-timi">
    <div class="row">
        <div class="col col-lg-5 p-0 m-0">
            <img src="{% static 'admin/img/app3/timi.jpg' %}" class="author-photo">
        </div>
        <div class="col col-lg-7">
            <div class="d-flex h-100">
                <div class="text-left align-self-center pl-5 author-info-left">
                    <h1 class="author-nick author-nick-left">TIMMY</h1>
                    <h3 class="author-name author-name-left">Timothy Efraim</h3>
                    <p class="author-desc author-desc-left">"heccing hecc."</p>
                    <div class="button-left">
                        <button type="button" onclick="location.href='https://timmyworks.herokuapp.com/';" class="btn rounded-pill">more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid author-right" id="author-widi">
    <div class="row">
        <div class="col col-lg-7">
            <div class="d-flex h-100">
                <div class="text-right align-self-center ml-auto right-author">
                    <h1 class="author-nick author-nick-right">Widy</h1>
                    <h3 class="author-name author-name-right">Widyanto Hadi</h3>
                    <p class="author-desc author-desc-right">"Jangan kebanyakan belajar"</p>
                    <div class="button-right">
                        <button type="button" onclick="location.href='https://widyantohd.xyz/';" class="btn rounded-pill">more</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-5 p-0 m-0">
            <img src="{% static 'admin/img/app3/widy.jpg' %}" class="author-photo">
        </div>
    </div>
</div>
<div class="container-fluid author-left" id="author-zul">
    <div class="row">
        <div class="col col-lg-5 p-0 m-0">
            <img src="{% static 'admin/img/app3/zul.jpg' %}" class="author-photo">
        </div>
        <div class="col col-lg-7">
            <div class="d-flex h-100">
                <div class="text-left align-self-center pl-5 author-info-left">
                    <h1 class="author-nick author-nick-left">Zul</h1>
                    <h3 class="author-name author-name-left">Zulfahri Haradi</h3>
                    <p class="author-desc author-desc-left">"Roses are red, violets are blue, ppw is pain"</p>
                    <div class="button-left">
                        <button type="button" onclick="location.href='https://story5-zul.herokuapp.com/';" class="btn rounded-pill">more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fl feedback-part p-4" id="input-feedback">
    <div class="wrapper-feedback">
    <form method="POST" id="form-feedback">
        <div class="d-flex flex-column mx-auto">
            <div class="short-message mx-auto">
                <h1>Got a <span>feedback</span> for us? Let us <span>hear!</span></h1>
            </div>
            <div class="feedback-form">
                <div class="form-group">
                    {% csrf_token %}
                    {{form.pesan}}
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="button-submit mx-auto">
                <button type="submit" class="btn">submit</button>
            </div>
            {% else %}
            <div class="unauthenticated" style="margin: auto; text-align: center;">
                <h4 style="color: #FFD162;">Sorry, you have to log in to use this feature</h4>
                <h4><spam><a href="{% url 'home:index' %}" style="color:#DE4F22;">Click here to login</a></spam></h4>
            </div>
            {% endif %}
        </div>
    </form>
    </div>
</div>
<div id="feedback-show" style="display: none;" >
    <div class="has-submit" style="display: none;">
        <h1 class="text-center">Thanks for your <span>feedback!</span></h1>
        <div class="container-fl feeds-part mb-4">

            <!-- Slideshow container -->
            <div class="slideshow-container" id="slideshow-container">


                <!-- Next and previous buttons -->
            </div>
            <div class="slide-button">
                <a class="prev">&#10094;</a>
                <a class="next">&#10095;</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
