{% extends 'base.html' %}

{% load static %}

{% block title %}Feedback{% endblock %}

<!--Tambahan css-->
{% block css %}
<link rel="stylesheet" href="{% static 'admin/css/style_feedback.css' %}">
{% endblock %}

<!--Block content-->
{% block content %}
<div class="container-fluid">
    <div class="intro mx-auto py-4 my-4">
        <img src="{% static 'admin/img/app3/feedback.svg' %}" alt="blog-icon">
        <h1 class="intro-title">feedback(s).</h1>
        <p class="intro-subtitle">let's <span>listen to</span> what you guys<br>say about <span>us</span></p>
    </div>
</div>
<!--
    {% for feeds in feedback %}
    {% if forloop.counter|divisibleby:2 %}
    <div class="container-fl w-50 border border-rounded mx-auto my-4 feedback-even">
        <h4>{{ feeds }}</h4>
    </div>
    {% else %}
    <div class="container-fl w-50 border border-rounded mx-auto my-4 feedback-odd">
        <h4>{{ feeds }}</h4>
    </div>
    {% endif %}
    {% empty %}
    <div class="container-fluid py-4">
        <div class="mx-auto text-center">
            <h1>There are no feedback yet:(</h1>
            <h3>Input yours <a href="/about">here</a></h3>
        </div>
    </div>
    {% endfor %}
-->
<div class="container-fl feeds-part mb-4 text-center">
{% if feedbacks %}
    <div class="d-flex flex-row overflow-auto flex-nowrap">
        {% for feedback in feedbacks %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Nama</h4>
                        <p class="card-text">{{ feedback|truncatechars:200 }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="btn text-center rounded-pill" href="{%  url 'about:index' %}">back to about</a>
{% else %}
    <div class="container-fluid py-4">
        <div class="mx-auto text-center">
            <h1>There are no feedback yet:(</h1>
            <h3>Input yours <a href="/about#feedback">here</a></h3>
        </div>
    </div>
{% endif %}
</div>
{% endblock %}
