<div class="container-fluid">
    <div class="container-fluid py-4 has-submit text-center">
        <h1>Thanks for your <span>feedback!</span></h1>
    </div>
    <div class="container-fl feeds-part mb-4 text-center">
        <!-- Slideshow container -->
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            {% for feedback in feedbacks %}
            <div class="mySlides">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ feedback.nama|truncatechars:15 }}</h4>
                        <p class="card-text">{{ feedback.pesan|truncatechars:200 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        {% block js %}
            <script type="text/javascript" src="{% static 'admin/js/enquire.js' %}"></script>
            <script type="text/javascript">

                // This loads JS files in the head element
                    function loadJS(url)
                    {
                        // adding the script tag to the head
                        var head = document.getElementsByTagName('head')[0];
                        var script = document.createElement('script');
                        script.type = 'text/javascript';
                        script.src = url;
                
                        // fire the loading
                        head.appendChild(script);
                    }
                
                </script>
            <script type="text/javascript">
                enquire.register("screen and (min-width: 501px)", {
                    match : function() {
                        // Load a mobile JS file
                        loadJS("{% static 'admin/js/carousel.js' %}");
                    }
                })
            </script>                      
        {% endblock js %}
    </div>
</div>