{% extends 'base.html' %}

{% load static %}
{% block title %}
Music
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/style_music.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/style_poll.css' %}">
{% endblock %}

{% block content %}
<div class="container-lg musics">
    <div class="musics-about">
        <img src="{% static 'admin/img/app3/app4/music_logo.svg' %}" alt="console-icon">
        <div class="musics-desc">
            <h1 class="title"><span class="red">M</span>us<span class="red">ic</span></h1>
            <p class="desc">Who doesn't <span class="red">listen to music</span> nowadays?
                Many people listen to music to keep up the <span class="red">productivity.</span>
                This list of music may do the trick for you!</p>
        </div>
    </div>
    <button id="do-poll">Jump to Votes!!</button>
</div>

<div class="container-lg musics-benefit">
    <div class="benefit">
        <h1 id="benefits">#bene<br><span class="red">fits</span>.</h1>
        <div class="list-benefit">
            <ul>
                <div class="list-bulet">
                    <li><a href="/">can boost up our productivity</a></li>
                </div>
                <div class="list-bulet">
                    <li><a href="/">to help calm ourselves</a></li>
                </div>
                <div class="list-bulet">
                    <li><a href="/">makes us happier</a></li>
                </div>
                <div class="list-bulet">
                    <li><a href="/">increase our verbal intelligence</a></li>
                </div>
                <div class="list-bulet">
                    <li><a href="/">reduce depression</a></li>
                </div>
            </ul>
        </div>
    </div>
</div>

<div class="container-lg short-msg">
    <h1 class="msg-title"><span class="red">Music</span> can change the world because it can <span class="red">change people.</span></h1>
</div>

<div class="container-fl showcase">
    <div class="case-wrapper">
        <div class="case">
            <div class="img__wrap">
                <img class="img__img" src="{% static 'admin/img/app3/app4/music_1.jpg' %}" />
                <div class="img__description_layer">
                    <h1 class="img__title">All the kids are depressed</h1>
                    <h4 class="img__description">Jeremy Zucker</h4>
                    <h3 class="img__title">Pop</h3>
                </div>
            </div>
            <div class="img__wrap">
                <img class="img__img" src="{% static 'admin/img/app3/app4/music_2.jpg' %}" />
                <div class="img__description_layer">
                    <h1 class="img__title">Corduroy Dreams</h1>
                    <h4 class="img__description">Rex Orange County</h4>
                    <h3 class="img__title">Indie Pop/Alternative</h3>
                </div>
            </div>
            <div class="img__wrap">
                <img class="img__img" src="{% static 'admin/img/app3/app4/music_3.jpg' %}" />
                <div class="img__description_layer">
                    <h1 class="img__title">Boom</h1>
                    <h4 class="img__description">NCT Dream.</h4>
                    <h3 class="img__title">K-Pop</h3>
                </div>
            </div>
        </div>
        <div class="case" id="second-case">
            <div class="img__wrap">
                <img class="img__img" src="{% static 'admin/img/app3/app4/music_4.jpg' %}" />
                <div class="img__description_layer">
                    <h1 class="img__title">Jaran Goyang</h1>
                    <h4 class="img__description">Nella Kharisma</h4>
                    <h3 class="img__title">Indonesian Pop</h3>
                </div>
            </div>
            <div class="img__wrap">
                <img class="img__img" src="{% static 'admin/img/app3/app4/music_5.jpg' %}" />
                <div class="img__description_layer">
                    <h1 class="img__title">Before you Go</h1>
                    <h4 class="img__description">Lewis Capaldi</h4>
                    <h3 class="img__title">Indie Pop/Alternative</h3>
                </div>
            </div>
            <div class="img__wrap">
                <img class="img__img" src="{% static 'admin/img/app3/app4/music_6.jpg' %}" />
                <div class="img__description_layer">
                    <h class="img__title">Lemon</h1>
                    <h4 class="img__description">Kenshi Yonezu</h4>
                    <h3 class="img__title">J-Pop</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-lg musics-sources">
    <h1 id="sources">#sour<br><span class="red">ces</span>.</h1>
    <div class="list-sources">
        <img src="{% static 'admin/img/app3/app4/source_spotify.svg' %}" alt="console-icon">
        <img src="{% static 'admin/img/app3/app4/source_youtube.svg' %}" alt="console-icon">
        <img src="{% static 'admin/img/app3/app4/source_soundcloud.svg' %}" alt="console-icon">
    </div>
</div>

<div class="container-fl poll-msg">
    <div class="p-msg">
        <h1 class="msg-title">Vote our Recommendation!</h1>
        <p>#now_or_never</p>
    </div>
</div>

<div class="container-fl poll">
    <div class="poll-title">
        <h1>M<span class="red">us</span>i<span class="red">c</span>s</h1>
        <img src="{% static 'admin/img/Music-sm.svg' %}" style="max-width: 15%;" src="">
    </div>
    {% include 'app4/poll.html' %}
</div>

{% endblock %}
{% block js %}
<script src="{% static 'js/app4.js' %}"></script>

{% endblock js %}

