<div class="container" id="poll">
	{% if not user.is_authenticated %}
	<h2> Hi there, please login to vote our recommendation.</h2>
	{% else%}
	<h2> Hi {{user.first_name}}, let's vote our recommendation.</h2>
	{% endif %}
	<form>
	{% csrf_token %}
	<div class="poll-wrapper">
	{% for m in object %}
		<div class="poll-item">
			<input type="radio" id="{{m.name}}" name="item" value="{{m.id}}">
  			<label for="{{m.name}}"><span><span></span></span>{{m.name}}</label><br>
		</div>
	{% endfor %}
	</div>
	{% if user.is_authenticated %}
	<div class="input-btn">
		<!-- <button id="btn-poll">Submit</button> -->
		<input type="submit" value="Submit" id="btn-poll">
	</div>
	{% else %}
	<div class="unauthenticated" style="margin: auto; text-align: center;">
		<h4 style="color: #FFD162;">Sorry, you have to log in to use this feature</h4>
		<h4><spam><a href="{% url 'logout' %}" style="color:#DE4F22;">Click here to login</a></spam></h4>
	</div>
	{% endif %}
	</form>
</div>

<div id="result-poll" class="container" style="display: none;">
	<h2> Thanks {{user.first_name}} for your votes!</h2>
	<div class="result-poll-wrapper">
		{% for m in object %}
		<div class="result-poll-item">
			<h3 class="result-poll-label">{{m.name}}<!-- poll : {{m.poll}}--></h3>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: {{m.avg}}%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">{{m.avg}}%</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
