{% extends 'base_nofooter.html' %}

{% load static %}
{% block title %}
Recommendation
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/style_rekomendasi.css' %}">
{% endblock %}


{% block content %}
<div id="content">
<div class="container-lg intros">
    <div class="intro">
        <img src="{% static 'admin/img/checklist 1.svg' %}" alt="recomm-icon">
        <div class="long-title">
            <h1 class="intro-title">Recommendation.</h1>
        </div>
        <p class="intro-subtitle">there are a <span>lot of things</span> to do,</p>
        <ul class="list-recomm">
            <li><a id="music" href="{% url 'recommendation:music' %}">music</a></li>
            <li><a id="movies" href="{% url 'recommendation:movies' %}">movies</a></li>
            <li><a id="games" href="{% url 'recommendation:games' %}">games</a></li>
            <li><a id="podcast" href="{% url 'recommendation:podcast' %}">podcast</a></li>
        </ul>
        <div class="arrow">
            <img src="{% static 'admin/img/icon arrow.svg' %}" alt="arrow-icon">
        </div>
    </div>
</div>
</div>

<div id="poll" class="container-fl poll" style="display: none">
    <div class="poll-title">
        <h1><span class="red">G</span>am<span class="red">e</span>s</h1>
        <img src="{% static 'admin/img/Console-sm.svg' %}" src="">
    </div>
    {% include 'app4/poll.html' %}
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/app4.js' %}"></script>

{% endblock js %}