{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'admin/css/homepage.css' %}">
{% endblock css %}


{% block title %}Homepage{% endblock title %}

{% block content %}

{% if not cek %}
<div class="container">
	<div class="a">
		<div class="form-form-group col-md-12 title">
			<h1 span class="well">WELCOME!</h1>	
			<h2 span class="what">What's your name?</h2>
		</div>

		<form method="post">
		{% csrf_token %}
			<div class="form-row">
				<div class="form-group col-md-12">
				{{form.name}}
				</div>
			</div>
		<button type="submit" class="btn">Submit</button>
		</form>
	</div>
</div>
{% else %}
<div class="container">
	<h3>Hi {{name}}</h3>
</div>
{% endif %}

{% endblock content %}

{% block js %}

    
{% endblock js %}
