{% extends 'base_kosong.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'admin/css/homep.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/homepage_respons.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/style_login_register.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sidebarnews.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sidebar_responsives.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js%22%3E"></script>
{% endblock css %}


{% block title %}Homepage{% endblock title %}

{% block content %}
  <div aria-live="polite" aria-atomic="true">
    <div class="toast" style="position: absolute; top: 0; right: 0;" data-autohide="false">
      <div class="toast-header">
        <svg class="rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
          focusable="false" role="img">
          <rect fill="#007aff" width="100%" height="100%" /></svg>
        <strong class="mr-auto">Notification</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        {{msg}}
      </div>
    </div>
  </div>






{% if user.is_authenticated %}

<div id="mySidebar" class="sidebar">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <!-- The sidebar -->
  {% comment %} <div class="row home">
  <div class="sidebar"> {% endcomment %}
	  <a href="{% url 'about:index' %}" class="icon">
		  <img src="{% static 'admin/img/Group_home.svg' %}" alt="console-icon" >
	  </a>
	  <a href="{% url 'blogs:index' %}" class="icon">
		  <img src="{% static 'admin/img/blog 1_home.svg' %}" alt="console-icon" >
	  </a>
	  <a href="{% url 'recommendation:index' %}" class="icon">
		  <img src="{% static 'admin/img/checklist 1_home.svg' %}" alt="console-icon" >
	  </a>
  </div>
  
  <div id="main">
  <!-- Page content -->
	  <div class="container-fluid home ">
		  <button class="openbtn" onclick="openNav()">>>></button> 
		  <div class="row rapi">
			  <div class="col col-lg-7">
				  <div class="d-flex h-100">
					  <div class="text-left align-self-center pads">
						  <h5 class="red first"> Hello, {{user.first_name}}. </h5>
						  <h2 class="yellow second"> What to do during, </h2>
						  <h1 class="wellcom red left third"> QUARAN </h1>
						  <h1 class="wellcom red left"> TINE? </h1>
						  <p class="descrip yellow"> Got nothing to do at home? You are stuck on your mind? Got bored during your quarantine? <strong class="red" > Explore US! </strong> and we'll show you something fun</p>
						  <a class="btn btn-lg" href="/logout/">Log out</a>
					  </div>
				  </div>
			  </div>
			  <div class="col col-lg-5 p-0 m-0">
				  <img src="{% static 'admin/img/gify.gif' %}" class="dekstop pict">
			  </div> 
		  </div>
	  </div>
  </div>

{% elif name %}
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
<!-- The sidebar -->
{% comment %} <div class="row home">
<div class="sidebar"> {% endcomment %}
	<a href="{% url 'about:index' %}" class="icon">
		<img src="{% static 'admin/img/Group_home.svg' %}" alt="console-icon" >
	</a>
	<a href="{% url 'blogs:index' %}" class="icon">
		<img src="{% static 'admin/img/blog 1_home.svg' %}" alt="console-icon" >
	</a>
	<a href="{% url 'recommendation:index' %}" class="icon">
		<img src="{% static 'admin/img/checklist 1_home.svg' %}" alt="console-icon" >
	</a>
</div>

<div id="main">
<!-- Page content -->
	<div class="container-fluid home ">
		<button class="openbtn" onclick="openNav()">>>></button> 
		<div class="row rapi">
			<div class="col col-lg-7">
				<div class="d-flex h-100">
					<div class="text-left align-self-center pads">
						<h5 class="red first"> Hello, {{name}}. </h5>
						<h2 class="yellow second"> What to do during, </h2>
						<h1 class="wellcom red left third"> QUARAN </h1>
						<h1 class="wellcom red left"> TINE? </h1>
						<p class="descrip yellow"> Got nothing to do at home? You are stuck on your mind? Got bored during your quarantine? <strong class="red" > Explore US! </strong> and we'll show you something fun</p>
						<a class="btn btn-lg" href="/logout/">Log out</a>
					</div>
				</div>
			</div>
			<div class="col col-lg-5 p-0 m-0">
				<img src="{% static 'admin/img/gify.gif' %}" class="dekstop pict">
			</div> 
		</div>
	</div>
</div>

{% else %}
<div class="container-xl login-register-body">
	<div class="blanket">
		<h1 span class="well">WELCOME!</h1>
		<h3>Welcome to our website, please login or register first.</h2>
		<div class="buttons">
			<button type="button" class="btn btn-primary register" data-toggle="modal" data-target="#registerModal">Register</button>
			<button type="button" class="btn btn-primary login" data-toggle="modal" data-target="#loginModal">Login</button>
		</div>
		<h3>Or you could login as <span class="log-guest"><a href="{% url 'home:guest' %}">guest.</a></span></h3>
	</div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registerModalLabel">Register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <form method="post" action="/register/" id="registerPeserta">
            {% csrf_token %}
            <div class="form-group">
              <label>Name :
                <input required name="name" id="name" type="text" class="textinput textInput form-control"/>
              </label>
              <label>Email :
                <input required name="email" id="email" type="email" class="textinput textInput form-control"/>
              </label>
            </div>
            <div class="form-group">
              <label>Password :
                <input required name="password" id="password" type="password" class="textinput textInput form-control"/>
              </label>
              <label>Confirm Password:
                <input required type="password" name="confirm_password" id="confirm_password" class="textinput textInput form-control"/>
              </label>
              <span id='message'></span>
            </div>
            <button type="submit" id="submit-register" class="btn btn-primary">Register</button>
          </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
          <a type="button" class="btn btn-primary" id="registerPeserta">Register</a>
        </div> -->
      </div>
    </div>
  </div>

  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registerModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <form method="post" action='/login/' id="registerPeserta">
            {% csrf_token %}
            <div class="form-group">
              <label>Email :
                <input required name="email" id="email" type="email" class="textinput textInput form-control"/>
              </label>
              <label>Password :
                <input required name="password" id="password" type="password" class="textinput textInput form-control"/>
              </label>
            </div>
            <button type="submit" id="submit-register" class="btn btn-primary">Login</button>
          </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
          <a type="button" class="btn btn-primary" id="registerPeserta">Register</a>
        </div> -->
      </div>
    </div>
  </div>

<!-- <div class="container">
	<div class = "wrap">
		<div class="form-form-group col-md-12 title">
			<h1 span class="well">WELCOME!</h1>	
			<h2 span class="what">What's your name?</h2>
		</div>

		<form method="post">
		{% csrf_token %}
			<div class="form-row">
				<div class="form-group col-md-12">
				{{form.name}}
				</div>
			</div>
		<button type="submit" class="btn">Submit</button>
		</form>
	</div>
</div> -->

{% endif %}

{% endblock content %}

{% block js %}
<script>
$(document).ready(function(){
    $(".pict").mouseenter(function(){
      $(this).css("width", 550);
    });
    $(".pict").mouseleave(function(){
      $(this).css("width", 500);
    });
  });
</script>
<script src="{% static 'admin/js/login_register.js'%}"></script>
<script>
  {% if msg is not None %}
    $('.toast').toast('show');
  {% endif %}
</script>
<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "150px";
  document.getElementById("main").style.marginLeft = "150px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>  

{% endblock js %}
