{% extends 'base_kosong.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'admin/css/homep.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/homepage_respons.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/style_login_register.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sidebarnews.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sidebar_responsives.css' %}">
{% endblock css %}


{% block title %}Homepage{% endblock title %}

{% block content %}

<div class="container">
	<div class = "wrap">
		<div class="form-form-group col-md-12 title">
			<h1 span class="well">WELCOME!</h1>	
			<h2 span class="what">What's your name?</h2>
		</div>

		<form method="post">
		{% csrf_token %}
			<div class="form-row">
				<div class="form-group col-md-12">
				{{form.name}}
				</div>
			</div>
		<button type="submit" class="btn">Submit</button>
		</form>
	</div>
</div>


{% endblock content %}

{% block js %}
    
{% endblock js %}