body{
    background-color: black;
    text-align: center;
}

.container {
    display: flex;
    min-height: 85vh;
}

.wrap{
    margin: auto;
}

.well {
    color: #FFD162;
    font-style: normal;
    font-weight: bold;
    font-size: 144px;
    line-height: 274px;
    height: 180px;
}

.what {
    color: #FFD162;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 122px;
}

input{
    color: #DE4F22;
    border-color: #DE4F22 !important;
    font-size: 22px;
    background-color: black;
    border-radius: 1rem;
    text-align: center;
}

.btn {
    color: black;
    background-color: #FFD162;
    border-radius: 20rem;
    font-style: bold;
}