@media only screen and (max-width:990px){
    .well{
        font-size: 125px;
        height: 145px;
    }

    .what{
        font-size: 50px;
        height: 100px;

    }
}

@media only screen and (max-width:766px){
    .well{
        font-size: 85px;
        height: 120px;
    }

    .what{
        font-size: 30px;
    }
}

@media only screen and (max-width:533px){
    .well{
        font-size: 60px;
        height: 110px;
    }

    .what{
        font-size: 25px;
        height : 80px;
    }
}

@media only screen and (max-width:405px){
    .well{
        font-size: 50px;
        height: 100px;
    }
    
    .what{
        font-size: 22px;
    }

    input{
        font-size : 15px;
    }

    .btn{
        font-size: 10px;
    }

}

@media only screen and (max-width:338px){
    .well{
        font-size: 45px;
    }
}