.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFD162;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #DE4F22;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar .icon:hover {
    background-color: black;
  }

  .sidebar a:hover {
    color: black;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    position: left;
    font-size: 20px;
    cursor: pointer; 
    background-color:black;
    color:  #FFD162;
    border: none;
  }
  
  .openbtn:hover {
    background-color: black;
    color: #DE4F22;
  }
  
  #main {
    display: flex;
    height: 100%;
    min-height: 85vh;
    transition: margin-left .5s;
    padding: 16px; 
  }

  .pads{
    padding-left: 1rem;
  }

  /* buat styling */
  .wellcom{
    font-size: 8rem;
    font-weight: bold;
    text-transform: uppercase;
}

    .yellow{
    color : #FFD162;
    }

    .red{
    color : #DE4F22;
    }
    
    .first{
    font-size: 20px;
    height: 40px;
    }

    .second{
    font-size: 35px;
    height : 20px;
    }

    .third{
    height: 115px;
    }

    .descrip{
    font-size: 22px;
    }

    .dekstop{
        width: 500px;
        min-width: 30%;
        height: auto;
    }

    .home{
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
      }

    img{
        width : 50px;
        text-align: center;
      }
    

 