
/* Painful parts, god why do i have to do this */

@media only screen and (max-width:1096px){
    /*
    .container-lg{
        margin: 0 60px 0 60px;
    }
    */
    .container-fluid.intros{
        min-height: 100vh;
    }

    .author-name{
        font-size: 2.2rem;
    }

    .author-nick{
        font-size: 8.5rem;
    }

    .author-desc{
        max-width:350px;
        font-size: 1.4rem;
    }

    .right-author{
        padding-right: 3.5rem;
    }
    
    .button-right{
        right: 3.5rem;
    }
}

@media only screen and (max-width:991.98px){
    .container-fluid.intros{
        min-height: 100vh;
        margin-top: 0;
        display: flex;
    }

    .intro img{
        max-width: 35%;
    }

    .intro{
        margin: auto;
    }

    .author-name{
        font-size: 1.8rem;
    }

    .author-nick{
        font-size: 7rem;
    }

    .author-desc{
        max-width:350px;
        font-size: 1.4rem;
    }

    .right-author{
        padding-right: 0rem;
    }
    
    .author-left .pl-5{
        padding-left: 0 !important;
    }

    .button-right{
        right: 1rem;
    }

    .button-left{
        left: 1rem;
    }
}

@media only screen and (max-width:767.98px){
    *{
        font-size: 90%;
    }
    
    /*
    
    .author-nick{
        font-size: 5rem;
    }

    .author-desc{
        font-size: 1.1rem;
    }*/
}

@media only screen and (max-width:600px){
    .container-fluid.intros{
        min-height: 85vh;
    }

    .author-name{
        font-size: 1.5rem;
    }
    
    .author-nick{
        font-size: 4rem;
    }

    .author-name{
        font-size: 1.3rem;
    }

    .author-desc{
        font-size: 1rem;
    }

    .btn{
        width: 100% !important;
        font-size: 1rem;
    }

    .button-submit, .button-left, .button-right{
        width: 100px !important;
        height: 37.5px;
    }

    .short-message > h1{
        font-size: 2.5rem;
    }
    
    .feedback-form textarea{
        font-size: 1.25rem;
    }

    .short-message{
        text-align: center !important;
        padding: 30px 0;
    }

}

@media only screen and (max-width:536px){
    *{
        font-size: 80%;
    }
    
    .intro img{
        max-width: 35%;
    }

    .button-left, .button-right{
        bottom: 1rem;
    }

    .btn{
        text-align: center !important;
        padding: 0 !important;
    }

    .short-message > h1{
        font-size: 2.25rem;
    }
    
    .feedback-form textarea{
        font-size: 1rem;
    }

    a.next, a.prev{
        display: none;
    }

    #slideshow-container{
        display: flex;
        flex-direction: column;
    }

    .mySlides{
        margin: 15px 0;
    }

    .mySlides p{
        font-size: 1rem;
    }

    .feedback-container{
        min-height: 25vh;
    }

    .text-center > span:nth-child(1){
        font-size: 44.8px !important;
    }

    .has-submit h1{
        margin-bottom: 0;
    }

}

@media only screen and (max-width:472px){
    /*
    .right-author, .author-left{
        align-self: auto !important;
    }
    */

    .author-nick{
        font-size: 3rem;
    }
    

    .author-desc{
        font-size: 0.75rem;
    }

    .button-submit .btn{
        height: 37.5px;
    }

    .text-center > span:nth-child(1){
        font-size: 44.8px !important;
    }

    .short-message{
        padding: 20px 0;
    }

}

@media only screen and (max-width:430px){
    /*.intro-title{
        font-size: 6rem;
    }

    .intro-subtitle{
        font-size: 2.5rem;
    }*/

    .py-4{
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
    
    .col-lg-5, .col-lg-7{
        flex: 0 0 50%;
        max-width: 50%;
    }

    a.nav-link{
        font-size: 80%;
    }

    .author-nick{
        font-size: 2.8rem;
    }

    .author-name{
        font-size: 1.3rem;
    }

    .author-desc{
        font-size: 1rem;
    }

    /* atur button size */
    .btn{
        font-size: 1rem;
    }
    
    .button-submit, .button-left, .button-right{
        width: 75px !important;
        height: 30px;
    }

    .button-right{
        position:absolute;
        right:1rem;
        bottom:1rem;
    }

    .text-center > span:nth-child(1){
        font-size: 44.8px !important;
    }
}

@media only screen and (max-width:380px){
    .author-nick{
        font-size: 2.7rem;
    }

    .author-name{
        font-size: 1.2rem;
    }

    .author-desc{
        font-size: 0.9rem;
    }

    .btn{
        font-size: 0.8rem;
    }

    .button-left, .button-right{
        width: 60px !important;
        height: 25px;
    }

    button{
        width: 100%;
        height: 100%;
    }

    .button-submit button.btn{
        width: 75px;
        height: 30px;
    }

    .form-group .w-75{
        width: 90%!important;
    }

    .text-center > span:nth-child(1){
        font-size: 44.8px !important;
    }
}