/* Poll styling */
.container-fl.poll{
    background-color: black;
    padding: 25px 0;
}

/* Title */
.poll-title{
    display: flex;
    justify-content: center;
}
.poll-title h1{
    color: #FFD162;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto 3vw;
    font-size: 4rem;
}

h1 > span.red{
    font-family: 'Poppins', sans-serif;
}

.poll-title img{
    max-width: 20%;
    margin: auto 3vw;
}

/* Short message */
.poll h2{
    text-align: center;
    color: #FFD162;
    margin: 20px 0;
}

/* Submit Poll Button */
.input-btn{
    text-align: center;
    margin: 0px 0;
}

.input-btn input{
    background-color: #DE4F22;
    color: #FFD162;
    border: none;
    border-radius: 50px;
    padding: 10px 35px;
    font-size: 1.75rem;
}

#do-poll{
    background-color: #DE4F22;
    color: #FFD162;
    border: none;
    border-radius: 50px;
    padding: 10px 35px;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
}

/* Radio Button */
.poll-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.poll-item{
    margin: 10px 0;
}


input[type=radio   ]:not(old){
    width     : 2em;
    margin    : 0;
    padding   : 0;
    font-size : 1em;
    opacity   : 0;
  }

input[type=radio   ]:not(old) + label{
    display      : inline-block;
    margin-left  : -2em;
    line-height  : 1.5em;
    color: #DE4F22;
    font-size: 2rem;
    font-weight: bold;
}

input[type=radio]:not(old) + label > span{
    display          : inline-block;
    width            : 1em;
    height           : 1em;
    margin           : 0.25em 0.5em 0.25em 0.25em;
    border           : 0.125em solid #FFD162;
    border-radius    : 5rem;
    background       : black;
    /*background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));*/
    vertical-align   : bottom;
}

input[type=radio]:not(old):checked + label > span{
    /*background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));*/
}

input[type=radio]:not(old):checked + label > span > span{
    display          : block;
    width            : 0.5em;
    height           : 0.5em;
    margin           : 0.125em;
    border           : 0.125em solid #FFD162;
    border-radius    : 5em;
    background       : #FFD162;
    /*background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
    background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
    background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
    background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
    background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));*/
}

/* Poll result */
h3.result-poll-label{
    color: #DE4F22;
    margin: 0;
    margin-bottom: 10px;
}

.result-poll-wrapper{
    margin: 50px 0;
}

.result-poll-item{
    margin: 20px 0;
}

.progress{
    height: 2rem;
    border-radius: 1rem;
    border: 4px solid #DE4F22;
    background-color: black;
}

.progress-bar{
    background-color: #DE4F22;
    
    font-size: 1.25rem;
    color: #FFD162;
    
}

footer{
    background-color: #FFD162;
    
}

@media (max-width: 767.98px){
    .poll-wrapper{
        margin-left: 4vh;
    }

    input[type=radio]:not(old):checked + label > span > span{
        margin           : 0.17em;
    }
}

@media (max-width: 575.98px){
    input[type=radio   ]:not(old) + label{
        line-height  : 1.25em;
    }

    input[type=radio]:not(old):checked + label > span > span{
        margin           : 0.225em;
    }
}

@media (max-width: 430.91px){
    input[type=radio   ]:not(old) + label{
        line-height  : 1.15em;
    }

    input[type=radio]:not(old):checked + label > span > span{
        margin           : 0.2em;
        
    }
}