/* Blogs */

/* First page of blogs */
body{
    background-color: #FFD162;
}

.container-lg.intros{
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
}

.intro{
    text-align: center;
    margin: auto;
}

.intro img{
    max-width: 50%;
}

.intro-title{
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
}

.intro-subtitle{
    font-size: 2.5rem;
}

.intro-subtitle span{
    color: #DE4F22;
    font-weight: bold;
}

.container-lg.blog-intro-msg{
    display: flex;
    text-align: center;
    flex-direction: column;
    min-height: 30vh;
    margin-bottom: 5vh;
}

.blog-warn{
    margin: auto;
}

.blog-info-count img{
    width: 50px;
}

.blog-info-count{
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0;
}

.blog-info-count .blog-likes, .blog-info-count .blog-comments{
    display: flex;
    align-items: center;
}

.blog-preview .row{
    margin: auto;
    justify-content: space-between;
    
}

.blog-preview .row .col-lg-4{
    margin-bottom: 100px;
    
}

.card{
    background-color:#FFD162;
    border: none;
    margin: 0 15px;
}

.card-title{
    color: #DE4F22;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
    padding-bottom: 25px;
}

.card-text{
    font-size: 1.5em;
    text-align: justify;
    height: min-content;
}

.card .button-more{
    text-align: center;
}

.button-more .btn, a.btn{
    background-color: #DE4F22;
    color: #FFD162;
    border-radius: 50px;
}

.blog-warn a.btn{
    margin: 10px 0;
}

h1.our-story{
    font-size: 3.5rem;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
}


/* The blog itself */
.container-lg .blog-about{
    display: flex;
}

.blog-content{
    margin-top: 70px;
    min-height: 80vh;
}

.blog-info .title{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #DE4F22;
}

.blog-info .subtitle{
    font-size: 2.5rem;
    color: #DE4F22;
}

.blog-info .subtitle::first-line{
    font-weight: bold;
    color: black;
}

.long-par{
    font-size: 1.5rem;
    line-height: 2.6;
    text-align: justify;
}

/* Blog likes */
.blog-likes form{
    display: flex;
}

input[type=image] {
    max-width: 50px;
}

.like-counter, .comment-counter{
    align-self: center;
    font-weight: bold;
    margin-left: 20px;
    margin-top: auto;
}

.blog-likes .disabled-like-warn{
    margin: 25px 0;
}

/* Blog comment */
.container-lg.blog-comment{
    margin-top: 50px;
}

h2 > span.bold-red, h3 > span.bold-red{
    font-family: 'Poppins', sans-serif;
}

span.bold-red{
    font-weight: bold;
    color: #DE4F22;
}

.list-comment{
    margin-bottom: 100px;
}

.list-comment h1{
    text-transform: uppercase;
}

.list-comment p.long-par{
    margin-top: 15px;
    line-height: 1.75;
}

.blog-comment textarea.form-control {
    height: 150px;
}

div.comment{
    margin: 40px 0 20px 0;
    border-bottom: 3px solid #DE4F22;
}

/* Blog form */
.container-lg.blog-form{
    margin-top: 50px;
}

.container-lg.blog-form.polos{
    margin-top: 150px;
}

.blog-form h1, .blog-comment .list-comment h1{
    font-size: 3.5rem;
}

.blog-form h1{
    text-align: center;
    
}

h1 > span.bold-red{
    font-family: 'Poppins', sans-serif;
}

span.bold-red{
    font-weight: bold;
    color: #DE4F22;
}

.form-group{
    margin-top: 20px;
}

.form-control:focus{
    background-color: #FFD162;
}

.form-control:disabled{
    background-color: #FFD162;
}

input.form-control, textarea.form-control{
    background-color: #FFD162;
    border: 3px solid #DE4F22;
    border-radius: 20px;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.blog-form textarea.form-control {
    height: 275px;
}

.form-group label{
    font-size: 2.25rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #DE4F22;
}

.form-group input.btn{
    background-color: #DE4F22;
    color: #FFD162;
    border: none;
    border-radius: 50px;
    margin: 0 0 20px 0;
    padding: 10px 35px;
    font-size: 1.75rem;
}

.form-group .send-btn{
    text-align: center;
}

@media (max-width: 991.98px) {
    /* First page of Blog */
    .container-lg.intros{
        display: flex;
        margin-top: 0;
        min-height: 100vh;
    }

    .container-lg.blog-form.polos{
        margin-top: 0;
    }

    .intro img{
        max-width: 45%;
    }

    .card{
        margin: auto;
    }
    
    .card-title{
        text-align: center;

    }
    
    .card-text{
        text-align: center;
        margin: 0 25px;
    }
    
    .card .button-more{
        text-align: center;
        margin-top: 35px;
    }

    a.btn.btn-lg{
        padding: 10px 35px;
        font-size: 1.75rem;
    }

    /* The blog itself */
    .blog-content{
        margin-top: 70px;
        min-height: 100vh;
    }

    .blog-info{
        text-align: center;
        margin: auto;
        padding-bottom: 15px;
    }

    .long-par{
        margin: 0px 50px;
        font-size: 1.5rem;
        line-height: 2.1;
        text-align: justify;
    }

    /* Blog likes */
    .blog-likes form{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
    }
    

    .like-counter, .comment-counter{
        align-self: center;
        font-weight: bold;
        font-size: 2rem;
    }

    /* Blog comments */
    .container-lg.blog-comment{
        min-height: 100vh;
    }

    .list-comment{
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
    }


    .comment-form h1{
        text-align: center;
    }

    /* Blog form */
    .container-lg.blog-form{
        min-height: 100vh;
    }

    .container-lg.blog-form h1{
        margin: 0 50px;
        text-align: center;
    }


    .form-group{
        margin: 50px;
    }

    
}


@media (max-width: 767.98px) {
    *{
        font-size: 90%;
    }

    .card-text{
        text-align: center;
        font-size: 1.75rem;
    }

    /* Blog form */
    span.bold-red{
        font-size: inherit;
    }

    .form-group .send-btn{
        text-align: center;
    }
    
}


@media (max-width: 575.98px) {
    /* First page of Blog */
    *{
        font-size: 80%;
    }

    .container-lg.intros{
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
        min-height: 85vh;
    }

    .intro-subtitle span{
        color: #DE4F22;
        font-weight: bold;
        font-size: inherit;
    }

    /* The blog itself */
    .blog-content{
        min-height: 100vh;
    }

    .long-par{
        margin: 0 25px;
    }

    /* Blog Form */
    .container-lg.blog-form{
        min-height: 100vh;
    }

    .form-group{
        margin: 25px;
    }
}

@media (max-width:424.91px){
    .blog-info .title, .blog-form > h1{
        font-size: 3.25rem;
    }
}