body{
    background-color: #FFD162;
    min-width: 300px;
}

/*
.container-fluid{
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
}
*/

.intro{
    text-align: center;
    margin-top: 102.5px;
    margin-bottom: 102.5px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.intro img{
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    transform: rotateX(180deg);
    opacity: 0;
}

.intro-title{
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    opacity: 0;
}

.intro-title .line{
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: black;
    transform-origin: 0 50%;
}

.intro-title .line1 {
    top: 0;
    left: 0;
}

.intro-title .letter{
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    line-height: 1em;
    font-weight: bolder;
}

.intro-subtitle{
    font-size: 2.5rem;
}

.intro-subtitle .letter{
    display: inline-block;
    line-height: 1em;
}

.intro-subtitle span{
    color: #DE4F22;
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

.author-left{
    background-color: black;
}

.author-right{
    background-color:  #FFD162;
}

.author-nick{
    font-size: 9.6rem;
    font-weight: bold;
    text-transform: uppercase;
}

.author-name{
    font-size: 2.5rem;
    font-weight: bold;
}

.author-desc{
    font-size: 1.7rem;
    max-width: 400px;
}

.author-nick-right, .author-desc-right{
    color: #DE4F22;
}

.author-name-right{
    color: #FFD162;
}

.author-nick-left, .author-desc-left{
    color: #000000;
}

.author-name-left{
    color:#DE4F22;
}

.right-author{
    padding-right: 4rem;
}

.right-author > *, .author-info-left > *{
    opacity: 0;
}


.author-photo{
    width: 100%;
    min-width: 30%;
    height: auto;
    opacity: 0;
}

.button-right{
    position:absolute;
    right:5rem;
    bottom:2rem;
}

.button-right > button{
    background-color: #FFD162;
    color:#000000;
}

.button-right > button:hover{
    color: #DE4F22;
}

.button-left{
    position: absolute;
    left: 4rem;
    bottom: 2rem;
}

/* .button-left, .button-right{
    opacity: 0;
} */

.button-left > button{
    background-color: #DE4F22;
    color:#FFD162;
}

#feedback{
    min-height: 100vh;
    display: flex;
}

.wrapper-feedback{
    margin: auto;
}

.feedback-form{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.feedback-part{
    background-color: black !important;
    min-height: 80vh;
}

.short-message{
    color: #FFD162;
    text-align: center;
    padding: 50px 0;
}

.short-message h1{
    font-size: 3.5rem;
}

.short-message span{
    color: #DE4F22;
    font-weight: bold;
    font-size: inherit;
    font-family: inherit;
}

textarea#id_pesan{
    background-color: black;
}

.form-group p label{
    color: black;
}

textarea.border{
    color: #FFD162 !important;
    border-color: #DE4F22 !important;
    font-size: 22px;
}

.button-left button, .button-right button, .button-submit button{
    width: 100%;
    height: 100%;
    text-align: center !important;
}

.btn{
    padding: 0;
    font-size: 1.5rem;
}

.button-submit, .button-left, .button-right{
    width: 150px !important;
    height: 45px;
}

.button-submit button{
    background-color: #DE4F22;
    color: #FFD162;
    border-radius: 50rem;
}

::placeholder{
    color: #FFD162 !important;
}


.img-fluid{
    min-width: 60%;
}

p.author-desc-right{
    float: right !important;
}

h6 a:link, h6 a:visited{
    color: #DE4F22 !important;
}

.has-submit{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.has-submit h1{
    padding: 50px 30px 10vh;
    font-size: 3.5rem;
    color: #FFD162;
    height: 30%;
}

.has-submit h1 span{
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    color: #DE4F22;
}


footer{
    background-color: #FFD162;
    
}


#feedback-show{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.feeds-part{
    height: 70%;
    position: relative;
    margin-top: 40px;
}

#slideshow-container{
    position: relative;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    flex-wrap: nowrap;
}

.mySlides {
    display: block;
    padding: 0 15vw;
    width: 100%;
}

.feedback-container{
    display: flex;
    border: 2px solid #FFD162;
    border-radius: 0.5rem;
    flex-direction: column;
    min-height: 30vh;
    justify-content: space-between;
    width: 70vw;
    padding: 10px;

}

.slide-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    position: absolute;
    top: 50%;
    width: 100%;
}

a.prev{
    padding-left: 15px;
}

a.next{
    padding-right: 15px;
}

.prev, .next {
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

a.prev:focus, a.next:focus{
    color: #FFD162;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#slideshow-container a{
    text-align: left !important;
}

/* .card{
    height: 30vh;
    min-width: 70vw;
    margin: auto;
    background-color: #000000;
    border-color: #FFD162;
    border-radius:  0.5rem;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */



.pesan, .pemberi-pesan{
    color: #FFD162;
    text-align: center;
}

.pesan{
    align-self: center;
    padding-top: 30px;
}

.pemberi-pesan{
    align-self: flex-end;
    font-weight: bold;
}



