html, body{
    height: 100%;
}

body{
    background-color: #FFD162;
    min-width: 300px;
    font-family: 'Poppins', sans-serif;
}

.has-submit span{
    color: #DE4F22;
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

.myslides{
    height: 100%;
}

.card{
    margin: auto;
    height: 17rem;
    background-color:inherit !important;
    border:solid 2px #DE4F22;
    border-radius: 20px;
}

.card h4{
    color: #DE4F22;
    font-weight: bold;
}

.card p{
    color: black;
}

a.btn{
    border: solid black 2px;
    border-radius: 10rem;
    margin-top: 30px;
}


footer{
    /* display: block !important;
    position: fixed !important; */
    bottom: 0 !important;
    width: 100%;
}

/* Responsive feedback */
@media only screen and (max-width:1080px){
    .intro-title{
        font-size: 3.5rem;
    }
    
    .intro-subtitle{
        font-size: 2rem;
    }
    
    /*
    .col-3{
        max-width: 33.33% !important;
        flex: 0 0 33.33%;
    }
    */
    
}

@media only screen and (max-width:720px){
    .intro-title{
        font-size: 2.75rem;
    }
    
    .intro-subtitle{
        font-size: 1.5rem;
    }
    
    /*
    .col-3{
        max-width: 50% !important;
        flex: 0 0 50%;
    }
    */
    
}

@media only screen and (max-width:400px){
    .intro-title{
        font-size: 2rem;
    }
    
    .intro-subtitle{
        font-size: 1rem;
    }

    .d-flex.flex-row{
        flex-direction: column !important;
        flex-wrap: wrap !important;
    }


    .col-3{
        max-width: 90% !important;
        flex: 0 0 90%;
        padding-bottom: 20px;
        margin: auto;
    }

    .card{
        height: auto;
    }

    .intro{
        padding: 0;
        margin: 0;
    }

    a.btn{
        margin-top: 0;
    }


}