div.login-register-body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.blanket{
    margin: auto;
}

.blanket h1.well{ 
    line-height: normal;
}

.blanket h3{
    color: #DE4F22;
    margin: 25px 0;
}

.buttons{
    margin: 25px 0;
}

.buttons button{
    border: none;
    height: 50px;
    min-width: 175px;
    margin: 0 15px;
    font-size: 1.5rem;
}

.buttons button:hover{
    background-color: #DE4F22;
}

.buttons button:focus{
    background-color: #DE4F22;
    border: 2.5px solid #922200;
    box-shadow: none;
}

.log-guest a{
    font-weight: bold;
    color: #FFD162;
}