/* Music */

/* First page of music */
body{
    background-color: #FFD162;
}

.container-lg.podcast{
    min-height: 80vh;
    margin-top: 100px;
    
}

.podcast-about{
    display: flex;
}

.podcast-about img{
    max-width: 30%;
}

.podcast-desc{
    margin-left: 50px;
}

.podcast-desc .title{
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
}

span.red{
    color: #DE4F22;
    font-weight: bold;
}

.title span.red{
    font-family: 'Poppins', sans-serif;
}

.podcast-desc p{
    font-size: 2rem;
    line-height: 2.3;
    text-align: justify;
}

/* Benefits of music */
.container-lg.podcast-benefit{
    display: flex;
    min-height: 60vh;
}

.benefit{
    margin: auto;
    display: flex;
}

#benefits{
    font-size: 4.5rem;
    font-weight: bold;
}

#benefits span{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.list-benefit ul{
    list-style-type: none;
}

.list-benefit ul li{
    font-size: 2rem;
}


.list-bulet{
    margin-bottom: 25px;
}

.list-bulet a{
    border-radius: 60px;
    padding: 10px 20px;
    text-decoration: none;
    pointer-events: none;
    color: black;
    display: inline-block;
}

.list-bulet:nth-child(odd) a{
    background-color: #DE4F22;
    color: #FFD162;
}

.list-bulet:nth-child(even) a{
    border: 3px solid #DE4F22;
}

/* short message */
.container-lg.short-msg{
    min-height: 40vh;
    display: flex;
    margin-top: -25px;
}

h1.msg-title{
    text-align: center;
    font-size: 4.5rem;
    margin: auto;
}

.short-msg h1 span{
    font-family: 'Poppins', sans-serif;
}

/* showcase */
.container-fl.showcase{
    background-color: black;
    min-height: 110vh;
    display: flex;
    
}

.case-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;  
    align-self: center;
}

.case{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img__wrap {
    position: relative;
    width: 25vw;
    display: flex;
    margin: 3vw;
    
}

.img__wrap img{
    width: inherit;
    border-radius: 50px;
    
}
  
.img__description_layer {
    position: absolute;
    width: initial;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(241, 78, 14, 0.637);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 50px;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
    
}

.img__title {
    transition: .2s;
    transform: translateY(1em);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2.5vw;
}

.img__wrap:hover .img__title {
    transform: translateY(0);
}

.img__description {
    transition: .2s;
    transform: translateY(1em);
    text-align: center;
    margin: 20px;
    font-size: 2vw;
    
}

.img__wrap:hover .img__description {
    transform: translateY(0);
}


/* Musics sources */
.container-lg.podcast-sources{
    display: block;
    text-align: center;
    min-height: 100vh;
    margin-top: 50px;
    margin-bottom: 50px;
}

#sources{
    font-size: 4.5rem;
    font-weight: bold;
    margin: auto;
}

#sources span{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.podcast-sources #sources{
    order: 2;
    margin: auto;
}

.list-sources{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.list-sources img{
    margin: 0 40px;
    max-width: 25%;
    order: 1;
}

/* Poll message */
.poll-msg{
    background-color: black;
    min-height: 30vh;
    display: flex;
    
}

.poll-msg .p-msg{
    margin: auto;
}

.poll-msg h1{
    color: #DE4F22;
    font-weight: bold;
}

.poll-msg p{
    color: #FFD162;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 991.98px){
    .container-lg.podcast{
        margin-top: 50px;
        margin-bottom: 50px;
        min-height: 100vh;
    }
    
    .podcast-about{
        display: block;
        text-align: center;
        
    }

    .podcast-desc{
        margin: 0;
        margin-top: 20px;
    }

    .podcast-desc p{
        text-align: center;
    }

    .container-lg.podcast-benefit .benefit{
        display: block;
        text-align: center;
    }

    .benefit #benefits{
        margin-bottom: 25px;
    }

    .list-benefit ul{
        padding: 0;
    }

    .container-lg.short-msg {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .container-fl.showcase .case{
        display: block;
        
    }

    .case{
        margin: auto;
    }

    #second-case .img__wrap:first-child{
        margin-top: 0;
    }

    .img__wrap {
        position: relative;
        width: 50vw;
        display: flex;
        margin: 3vw;
        height: 50vw;
        margin: 75px 0;
        
    }
    
    .img__wrap img{
        width: inherit;
        border-radius: 50px;
        object-fit: cover;
    }

    .img__title{
        font-size: 4vw;
    }

    .img__description{
        font-size: 2.5vw;
    }
    
    
    .container-lg.podcast-sources{
        display: block;
        min-height: 80vh;
    }
    
    #sources{
        text-align: center;
    }

    .list-sources{
        justify-content: center;
        margin-top: 35px;
        flex-wrap: wrap;
    }

    .list-sources img{
        margin-top: 35px;
        max-width: 25%;
    }


    .poll-msg .p-msg .msg-title{
        margin: 25px 0;
        font-size: 3.5rem;
    }
}

@media (max-width: 767.98px) {
    * {
        font-size: 90%;
    }

    .container-lg.podcast{
        margin-top: 50px;
        margin-bottom: 50px;
        min-height: 80vh;
    }

    .container-lg.short-msg {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    h1.msg-title {
        font-size: 3.5rem !important;
    }

    span.red {
        font-size: inherit;
    }

    .img__wrap{
        width: 60vw;
        height: 60vw;
    }

    .img__description {
        
        font-size: 3vw;
    }

    .poll-msg .p-msg .msg-title{
        margin: 25px 0;
        font-size: 8.5vw !important;
    }
}

@media (max-width: 575.98px) {
    * {
        font-size: 80%;
    }

    .img__wrap{
        width: 75vw;
        height: 75vw;
    }

    .img__title{
        font-size: 5vw;
        margin: 10px;
    }

    .img__description {
        margin: 0 10px;
        font-size: 4vw;
    }
}

@media (max-width:430.91px) {
    * {
        font-size: 70%;
    }
    
    .list-benefit ul li{
        font-size: 7vw;
    }

    .list-sources{
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

}
