/* Overwrite slideshow agar menjadi flex column */

header a{
    font-size: 17px;
}

.slideshow-container{
    position: static;
    display: flex;
    flex-direction: column;
}

.mySlides{
    display: inline;
    width: 100% ;
    margin-bottom: 30px;
}

@media only screen and (max-width:500px){
    .prev, .next{
        visibility: hidden;
    }
}

.card{
    width: 85% ;
    margin: auto;
    height: auto;
}