@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;700&display=swap');
*{
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100%;
}
